:root {
  --animation-translate : -100vh;
  --animation-delay: 300ms;
  --is-showing: block;
  --is-showing-image: none;

  --primary-color: #dddddd;
  --secondary-color: white;
  --ternaire-color: rgb(97, 97, 97);
  --button-color: #764fb1;
  --button-color-hover: #654595;
  --red: #e51010;
  --red-hover: #c91818;
  --background-color : #efefef;

  --position-video1: 0vh;
  --position-video2: 100vh;
  --position-video3: 200vh;
  --commentaire-translate: 75vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
}

.videoPlayer {
  margin: auto;
  height: 100vh;
  position: relative;
  aspect-ratio: 9/16;
  background-color: black;

  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.videoContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.videoSlider {
  width: 100%;
  translate: 0px var(--animation-translate);
  position: relative;
}

.videoSliderTranslate {
  transition: translate var(--animation-delay) cubic-bezier(0.38, 0.84, 0.79, 0.97);
}

.video {
  width: 100%;
  height: 100%;
  user-select: none;
  display: var(--is-showing);
  z-index: 0;
}

.imageVideo {
  width: 100%;
  height: 100vh;
  z-index: 40;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  display: var(--is-showing-image);
}

.videoItems{
  height: 50vh;
  width: 20%;
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
}

.blur {
  z-index: 200;
    user-select: none;
    pointer-events: none;

    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 50;
}

.blurRadial {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.8) 130%);
}

.blurVertical {
  background-image: linear-gradient(to bottom, #ffffff00, #0000004f);
}

.items {
  margin-bottom: 2vh;
  text-align: center;
  font-weight: 400;
  
  color: var(--primary-color);
  fill: var(--primary-color);
}

.items:hover {
  color: var(--secondary-color);
  fill: var(--secondary-color);

  cursor: pointer;
}

.circleitem {
  margin-bottom: 30%;
}

.items p {
  user-select: none;
  font-size: clamp(10px, 1.4vw, 17px);
}

.icone {
  width: 40%;
}
.circle {
  overflow: hidden;
  width: 70%;
  aspect-ratio: 1;
  border-radius: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.circle img {
  width: 100%;
  aspect-ratio: 1;
  user-select: none;
  -webkit-user-drag: none;
}

.littleCircle {
  width: 24px;
  aspect-ratio: 1;
  background-color: var(--red);
  margin: auto;
  border-radius: 100%;
  margin-top: -14px;
  position: relative;
  z-index: 10;
}

/* Définition de l'animation */
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  21% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.circleitem:hover{
  animation-name: rotate360;
  animation-duration: 0.5s; /* Durée de l'animation */
  animation-timing-function: linear; /* Fonction de timing (facultatif) */
  animation-iteration-count: infinite; /* Nombre d'itérations (infini ici) */
}

.descriptionVideo{
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  bottom: 0;
  width: 80%;
  box-sizing: border-box;
  padding: 20px;
  z-index: 100;

  margin-bottom: 5vh;

  color: var(--primary-color);
}

.description-text p {
  margin-bottom: 5px;
}

.descriptionVideo-pseudo {
    user-select: none;
    -webkit-user-drag: none;
    font-weight: 600;
    color: var(--primary-color);
    font-size: clamp(10px, 1.7vw, 25px);
    margin-bottom: 20px;
}

.descriptionVideo-pseudo:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.description-readmore {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.description-readmore:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.red {
  fill: var(--red);
}

.heartAnimation {
  animation-name: heartAnnim;
  animation-duration: 0.5s; /* Durée de l'animation */
  animation-timing-function: linear; /* Fonction de timing (facultatif) */
}

/* Définition de l'animation */
@keyframes heartAnnim {
  0% {
    transform: rotate3d(0, 1, 0, 45deg);
    translate: 0px 0px;
  }
  10% {
    translate: 0px -10px;
  }
  40% {
    transform: rotate3d(0, 1, 0, 180deg);
    translate: 0px -12px;
  }
  60% {
    transform: rotate3d(0, 1, 0, 260deg);
    translate: 0px -10px;
  }
}

/* -------------------------------------- */

.LoginView{
  height: fit-content;
  width: fit-content;
  aspect-ratio: 4/5;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.Button {
  background-color: var(--button-color); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: fit-content;
  border-radius: 10px;
}

.Button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

.loginCheckbox {
  height: 15px;
  border: none;
  border-radius: 2px;
}

.loginCheckbox:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

.div--keepLoged input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Login-container-Keep {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  color: var(--ternaire-color);
  margin-bottom: 15px;
  font-size: 12px;
}

.Login-container-Keep p {
  padding: 1px;
}

/* Hide the browser's default checkbox */
.Login-container-Keep input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.Login-container-Keep:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Login-container-Keep input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.Login-container-Keep input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Login-container-Keep .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-box {
  margin-bottom: 12px;
}

.input-login {
  width: 100%;
  text-indent: 18px;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 4px;
}

.input-login:focus {
  border: none;
  outline: 3px solid var(--button-color)
}

.login-label-input{
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--ternaire-color)
}

.login-title {
  font-weight: 700;
  color: black;
  font-size: 20px;
  margin-top: 20px;
}

.close-button {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: 100%;

  align-self: end;
}

.close-button:hover {
  background-color: var(--button-color-hover);
}

.close-button:before {
  content: "x";
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
  color: white;
}

.loginFooter {
  margin-top: auto;
}

.login-input{
  margin-top: 20px;
}

#video1 {
  top: var(--position-video1);
}

#video2 {
  top: var(--position-video2);
}

#video3 {
  top: var(--position-video3);
}

.redButton {
  background-color: var(--red);
  font-weight: 700;
  padding: 15px 35px;
}

.redButton:hover {
  background-color: red;
}

.pp {
  width: 80px;
}

.pp:hover {
  cursor: pointer;
}

.user_tll {
  display: flex;
  align-items: center;
}

.text_erreur {
  color: red;
  font-size: 12px;
}

.hastags {
  display: flex;
}

.hastags p {
  margin-right: 5px;
}

.descriptionText {
  width: 100%;
  height: 70vh;
  background-color: var(--primary-color);

  position: absolute;
  z-index: 100;
  bottom: 0;

  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  padding: 20px;
}

.pp_comments_circle {
  overflow: hidden;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pp_comments_circle img {
  width: 100%;
  aspect-ratio: 1;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.pp_comments_circle:hover {
  cursor: pointer;
}

.comments {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;

  margin-bottom: 25px;
}

.comments--pseudo--date {
  display: flex;
}

.comment-pseudo {
  color: black;
  margin-bottom: 2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

.comment-date {
  color: rgb(112, 112, 112);
  margin-bottom: 2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-left: 5px;
}


.comments--right {
  margin-left: 10px;
}

.commentairesOverflow {
  height: 75vh;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: white;
  border-radius: 20px 20px 0 0;
  overflow: hidden;

  translate: 0px var(--commentaire-translate);
  transition: translate 200ms ease-out;
}

.commentaires {
  overflow: auto;
  height: 75vh;
  padding-top: 20px;
  /* width: clamp(400px, 40vw, 600px); */

}

.commentaires::-webkit-scrollbar {
  width: 10px;
  translate: 0px -10px;
}

.commentaires::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
}

.commentaires::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
}

.sendComment {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
}

.input_comment {
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 2px solid var(--primary-color);

  transition: border-bottom 0.1s;
}

.comment_input {
  width: 75%;
  margin-left: 10px;
}

.input_comment:hover {
  outline: none;
}

.input_comment:focus {
  outline: none;
  border-bottom: 2px solid rgb(78, 78, 78);
}

.commentaire-close-but {
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.topleftLayer {
  position: absolute;
  display: flex;
  height: fit-content;
  right: 0;
  margin: 5px;
}

.ButtonUpload {
  margin: 5px;
  display: flex;
  fill: white;
}

.uploadIcone {
  width: 20px;
  margin-right: 10px;
}

.ButtonUpload:hover > svg {
  animation-name: tourne;
  animation-duration: 0.5s; /* Durée de l'animation */
  animation-timing-function: linear; /* Fonction de timing (facultatif) */
}

/* Définition de l'animation */
@keyframes tourne {
  0% {
    transform: rotate3d(0, 1, 0, 45deg);
  }
  60% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.loginbg {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}